body{
    background-color: darkgrey;
}

#game-field{
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#result-field{
    width : 100%;
    display:flex;
    flex-direction: column;
    margin : 6px;
}

.right-align{
    text-align: right;
}

.result-card{
    max-width: 98%;
    height : 100px;
    padding-bottom : 12px;
    box-shadow: grey;
    margin-bottom : 8px;
    background-color: whitesmoke;
    box-shadow: 0 0 8px gray;
}
.reuslt-card-body{
    display: flex;
}

.game-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 16px;
    max-width: 360px;
}

.character-image{
    width : 80px;
    height : 80px;
    margin: 4px;
}

.character-name{
    font-weight: 550;
}