body{
    background-color: darkgrey;
}

#game-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 6px;
}

#result-field{
    width : 100%;
    display:flex;
    flex-direction: column;
    margin : 6px;
}

.right-align{
    text-align: right;
    margin-right: 2px;
}

.result-card{
    width : 98%;
    height : 100px;
    padding-left:4px;
    padding-bottom : 12px;
    box-shadow: grey;
    margin-bottom : 8px;
    background-color: whitesmoke;
    box-shadow: 0 0 8px gray;
}
.reuslt-card-body{
    display: flex;
}

.board{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding-top : 4px;
}

.card{
    margin:2px;
    width : 80px;
    height : 80px;
}